.simple {
	font-size: 20px;
	font-weight: 200;
	letter-spacing: 1px;
	padding: 13px 50px 13px;
	outline: 0;
	border: 1px solid black;
	cursor: pointer;
	position: relative;
	background-color: rgba(0, 0, 0, 0);
  }
  
  .simple::after {
	content: "";
	background-color: #cc801d;
	width: 100%;
	z-index: -1;
	position: absolute;
	height: 100%;
	top: 7px;
	left: 7px;
  }

  #h1 {
	  text-align: center;
  }

  #back-button-div {
	  padding: 30px;
	  text-align: center
  }